/* DOCUMENTO */

body {
	margin:0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
	
	font-size: 20px;
		background-image: url(imagens/fundo.jpg);
	background-size:cover ;
}
header {
	background-color:#db93cd;
	height: 100px;
	padding-top: 25px;
	color:#1c1b1c;
	text-align: center;
}
main {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
.box {
	width: 350px;
	height:600px;
	background-color: #e3e2e1;
	border-radius: 10px;
	padding: 20px;
	color: #1c1b1c;
	text-align: center;
	margin: 30px;
}
.box h2{margin:0 0 10px 0;
padding:0;
}
.box figure {width: 250px;
height: 250px
background-color: #e6e6e6;
margin:15px;
padding:0;

}
.box p {
	color: #1c1b1c;
	text-align: left;
	

}
footer {
	background-color: #cf97a0aa;
	height: 70px;
	padding-top:10px;
	color: white;
	text-align: center;
}